body {
  background-color: #fafafa;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding-left: 39px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  left: 9px;
  font-size: 16px;
}

.ant-collapse-header {
  font-size: 1.25rem;
}

.ant-badge {
  font-size: 1.15rem;
  top: 1px;
}

.DraftEditor-root {
  border: 1px solid gray;
  font-size: 1.25rem;
  padding: 5px;
  margin-bottom: 5px;
}
